</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/dist/output.css')}}"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="static/css/my-socnet-style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="static/js/login.js"></script>
    <script src="static/js/jquery-min.js"></script>
    <script src="static/js/jquery-min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <title>
        Home - SocNet
    </title>
</head>

<body id="index">

    <main class="bg-gradient-to-r from-cyan-500 to-blue-500 max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">

        <section class="mt-15">

            </div>


            <form action="{{ next }}" method="get">
                <div class="pading:15px">
                    <img src="{{ url_for('static', filename='svg/'+'erroer2.png')}}">
                </div>
                <div class="px-6 py-5">
                    <div class="font-bold text-2xl mb-2 text-center text-indigo-700 "> Algunos campos faltan estos son:
                    </div>
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-lg mb-5 text text-slate-100 ">
                        <ul>
                            {% for input in inputs %}
                            <li class="text-center"> * {{ input }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="flex flex-row  justify-center items-center">
                        <button class=" bg-blue-900 text-white font-bold py-2 px-2 rounded shadow-lg hover:shadow-xl transition
                        duration-200  " id="next" name="next" type="submit" value="Continue">
                            Volver</button>
                    </div>

                </div>

            </form>

            </div>

        </section>

    </main>

</body>

</html>